html > *{
    box-sizing: border-box;
}
.container{
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container > *{
    width: 70px;
    height: 70px;
    text-align: center;
    border: 2px solid black;
}
#calculator{
    width: 298px;
    height: 446px;
    border: 2px solid black;
}
#result{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 30px;
    border: 2px solid black;
}
.zero{
    border: 2px solid black;
    width: 144px;
}
.numBtn, .decimal{
    background-color: #505050;
    color: white;
    font-size: 35px;
}
.operator, .equal{
    background-color: #FF9500;
    color: white;
    font-size: 35px;
}
.reset,.percentage,.plusMinus{
    background-color: #D4D4D2;
    font-size: 35px;
    color: black;
}
#calccont{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.numBtn:active, .decimal:active{
    background-color: #50505080;
}
.operator:active, .equal:active{
    background-color: #FF950080;
}
.reset:active, .percentage:active, .plusMinus:active{
   background-color: #D4D4D280; 
}
.btn{
    cursor:pointer;
}